body{
  font-family:'Orbitron', sans-serif;
  background: no-repeat linear-gradient(180deg, #043D7E 0%, rgba(255, 255, 255, 0) 100%),linear-gradient(0deg, #3176C6, #3176C6);

}

h1{
  color: #FFCA0E;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-size: 36px;
}

h2{
  color: #FFCA0E;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-size: 36px;

}

p{
  color: black;
  font-size: 1.5em;
}

.space{
  padding-bottom: 8em;
  
}


.theme{
  color: black;
  background-color: #FFCA0E;
  text-align: center;
  width: 20em;
  height: 2.5em;
  border-radius: 2em;
  font-size: 36px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

}

#themeMyst{
  color: black;
  background-color: #1EE732;
  text-align: center;
  width: 20em;
  height: 2em;
  border-radius: 2em;
  font-size: 36px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  
  
}

.page2{

  display: none;
}


.page3{

  display: none;
}

/* .compteur{
  background: linear-gradient(to right, #C1BFB9 50%, rgb(49, 47, 47));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  width: 11em;
  height: 49em;
  border-radius: 90px;
}  */

.compteur2{
  background: linear-gradient(to right, #C1BFB9 50%, rgb(49, 47, 47));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  width: 15em;
  height: 14em;
  border-radius: 90px;
} 

.time{
  background: linear-gradient(to right, #C1BFB9 50%, rgb(49, 47, 47));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  width: 10em;
  height: 10em;
  border-radius: 50px;
} 

.affichTime{
  background-color: #0734CF;
  text-align: center;
  align-content: center;
  width: 7em;
  height: 7em;
  margin-top: 1.5em;
  border-radius: 10px;
}

.affichTime p{
  color: white;
  font-size: 3em;
  text-align: center;
  margin-top: 0.3em;
  
}

.point{
  background-color: #0734CF;
  color: black;
  text-align: center;
  align-content: center;
  
  width: 9em;
  height: 9em;
  margin-top: 2.5em;
  border-radius: 10px;
  font-style: italic;
}

.point p{
  color: white;
  font-size: 5em;
  text-align: center;
  align-items: center;
  
}


.bulleQ{
  color: black;
  background-color: #FFCA0E;
  text-align: center;
  width: 35em;
  height: 5.5em;
  border-radius: 1em;
  font-size: 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}


.bulleR{
  color: black;
  background-color: #FFCA0E;
  text-align: center;
  width: 10em;
  height: 4.5em;
  margin-top: 1em;
  border-radius: 1.5em;
  font-size: 26px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}



/* #r1{
  color: black;
  background-color: #FFCA0E;
  text-align: center;
  width: 10em;
  height: 4em;
  border-radius: 1.5em;
  font-size: 26px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

#r2{
  color: black;
  background-color: #FFCA0E;
  text-align: center;
  width: 10em;
  height: 4em;
  border-radius: 1.5em;
  font-size: 26px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

#r3{
  color: black;
  background-color: #FFCA0E;
  text-align: center;
  width: 10em;
  height: 4em;
  border-radius: 1.5em;
  font-size: 26px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

#r4{
  color: black;
  background-color: #FFCA0E;
  text-align: center;
  width: 10em;
  height: 4em;
  border-radius: 1.5em;
  font-size: 26px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
} */



.bulleSkip{
  color: black;
  background-color: white;
  text-align: center;
  width: 6em;
  height: 3.5em;
  border-radius: 1.5em;
  font-size: 26px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.correct{
  background-color: #1EE732;
}

.false{
  background-color: red;
}

.score{
  color: #FFCA0E;
  padding: 10%;
  font-size: 300%;
}

.affichScore{
  color: #FFCA0E;
  font-size: 300%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.start{

  /* padding-top: 10em;
  padding-bottom: 10em; */
  font-size: 1em;
  background-color: #FFCA0E;
  border-radius: 1.5em;
  width: 15em;
  height: 10em;

}

@media screen and (max-width: 740px){
  .bulleQ{
    width: 10em;
    height: 11em;
  }

}

@media screen and (max-width: 740px){
  .placment-media{
    display: flex;
      flex-wrap: wrap;
  }

}

@media screen and (max-width: 740px){
  div img{
    width: 300px;
    
  }

}

@media screen and (max-width: 740px){
  .theme{
    width: 9em;
  height: 3em;
    
  }

}

@media screen and (max-width: 740px){
  #themeMyst{
    width: 300px;
    height: 150px;
  }

}

